main.exe
*.db
config.json
logs/
internal/webui/node_modules/
internal/admin/web/dist/
internal/admin/web/node_modules/
*/*-shm
*.db*
*.pid
*.pid.lock
*.sock
*.key
*.crt
*.pem
*.csr
*.srl
*.der
*.jks
*.p12
*.pfx
*.p7b
*.p7c
*.p7s
*.jceks
*.jks
*.jceks
*.jmod